{% assign ll = linklists[section.settings.main_menu] %}

<header
  class="header"
  role="banner"
  data-section-id="{{ section.id }}"
  data-section-type="header"
>
  <nav class="header-nav">
    {% if ll.links.size > 0 %}
      <ul>
        {% for link in ll.links %}
          <li>
            <a href="{{ link.url }}">
              {{ link.title | prepend: '/' }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>  

  <a href="/" itemprop="url" title="{{ shop.name }}">
    {% render 'header-logo' %}
  </a>

  <a
    href="/cart"
    class="header-cart {% if cart.item_count > 0 %} has-items{% endif %}"
    data-ajax-cart-toggle
  >
      Cart <span data-cart-count>{{ cart.item_count }}</span>
  </a>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}